<div class="container-fluid">
  <div class="design-process row primary-bg">
    <div class="container">
      <div class="row align-items-center justify-content-end">
        <div class=" col-12 col-auto">
          <h1 class="font-white">My Design Process</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row white-bg">
    <div class="container">
      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-sm-7">
            <h4>My Process</h4>
            <p>I can adapt my process to work within any project or company, and the scope and order of things is determined by external factors. Is the product already developed? Do you already have an existing design system in place? Do we have access to all the users for research and testing purposes? All of that can be discovered within the discovery or Understanding phase.</p>

          </div>
          <div class="col-sm-5">
            <h4>Research and Design tools I Prefer</h4>
            <p>Whimsical, Axure RP, Figma</p>
            <h4>Prototyping Tools</h4>
            <p>Axure RP, HTML/CSS, Latest Angular</p>
          </div>
        </div>
      </section>

      <section class="case-study aside-top lt-grey-bg aside-bottom">
        <div class="row justify-content-center">
          <div class="col-9">
            <h5>Different projects require different processes, and the process is often limited by budget and time. A perfect design process would only happen with zero limitations.</h5>
          </div>
        </div>
      </section>

      <section class="case-study aside-top aside-bottom">
        <div class="row justify-content-center">
          <div class="col">
            <img src="assets/Images/process.PNG" alt="The UX Design Process" class="img-fluid" />
          </div>
        </div>
      </section>

      <section class="case-study aside-top aside-bottom-x1">
        <div class="row justify-content-center align-items-start aside-bottom-x1">
          <div class="col">
            <h4>Understand</h4>
            <p class="aside-top-xs">Understand the problem by holding meetings with stakeholders, defining objectives and requirements. </p>

              <h4>Research</h4>
              <p>User research by holding interviews, observation, task analysis. </p>
  
              <h4>Analyze</h4>
              <p>Organize and analyze your data! Compile all of your research into documents, create personas, workflows, and create user stories</p>
  
              <h4>Design</h4>
              <p>This is where you start creating deliverables. Sitemaps, wireframes, mockups, prototypes, Style Guides.</p>

              <h4>Test</h4>
              <p>Usability testing, getting user feedback via surveys.</p>

              <h4>Analyze Again</h4>
              <p>UX is never done! QA with development. Does this solve the user's problem? Perform additional usability tests. Continue to get feedback even after it has been deployed.</p>


          </div>
        </div>
      </section>

    </div>
  </div>
</div>