  
  <div class="container-fluid" [ngClass]="{ hide: loadingImg, show: !loadingImg }">

        
    <section class="about row align-items-center primary-bg-dark middle" color="primary">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <img src="assets/Images/me11.jpg" alt="Photo of Emily Egan" class="img-fluid img circle"  />
                
              </div>
          <div class="col">
            <h1>Hello World! <br /> I'm Emily Elligott</h1>
            <p>
              I've been a hybrid UX designer and developer for most of my career and I enjoy doing both. I believe knowing how to code makes me a better designer, and I’m often the bridge between design and engineering. I have a passion for solving complex problems and creating intuitive experiences that users love. Another mission I have is mentoring and coaching up and coming designers and developers so I can help them advance their careers. When I'm not working I'm usually gaming, hiking, or taking photos somewhere.
            </p>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="row middle white-bg">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-auto col-md-6 col-sm-auto">
            <h3>50% Designer</h3>
            <p>UI Design </p>
            <p>UX Research and Usability Testing</p>
            <p>User Observation and requirement gathering</p>
            <p>Wireframing, mockups, and Prototyping using Axure or Figma</p>
            <p>HTML, CSS3, Sass</p>
            <p>Accessibility is important</p>
          </div>
          <div class="col-lg-auto col-md-6 col-sm-auto offset-xl-1">
            <h3>50% Developer</h3>
            <p>Project planning</p>
            <p>Mentoring and coaching</p>
            <p>Angular, Angular Material, and TypeScript</p>
            <p>Loves reusable components and documenting</p>
            <p>Github, Jira, Git, Webpack</p>
            <p>Microsoft <3</p>
          </div>
        </div>
      </div>
    </section>

    <section class="row middle about">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-10 col-md-6 col-sm-12">
            <div class="col-auto">
             <h3>Recent and Upcoming speaking events</h3>   
               <p class="darker">At Women Who Code Cincinnati we host events at least once a month, and most of those events are tech talks given by local women. Every once in a while I speak at these events, but it's my goal for this year to speak more on a regular basis. Expect to see more of me in the coming months! If you're interested in hearing me speak at a panel free feel to reach out to me on LinkedIn or Twitter.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center aside-top">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/Images/WWCodeJune22.png" alt="Photo of a development event panel" class="hide-sm" />              
                <mat-card-title>Responsive Design in 2022
                  <span class="date">June 23, 2022</span>

                </mat-card-title>
                
                <mat-card-subtitle>The relationship between Engineering and Product can be fraught with conflict and misunderstanding. With the help of our expert panel, you will learn how to make your collaborations with people on both sides of the product more effective and enjoyable.</mat-card-subtitle>
              </mat-card-header> 
              <mat-card-actions align="end">
                <a mat-button href="https://youtu.be/-keiV3CEmEI" color="accent" target="_blank">View Video</a>
                <a mat-button href="https://www.meetup.com/Women-Who-Code-Cincinnati/events/286147254/" color="accent" target="_blank">Visit Event</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div class="row justify-content-center aside-top">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/Images/event-2.JPG" alt="Photo of a development event panel" class="hide-sm" />              
                <mat-card-title>Sympathy for the Enemy - Engineering & Product Partnerships
                  <span class="date">Sept 2nd, 2021</span>

                </mat-card-title>
                
                <mat-card-subtitle>The relationship between Engineering and Product can be fraught with conflict and misunderstanding. With the help of our expert panel, you will learn how to make your collaborations with people on both sides of the product more effective and enjoyable.</mat-card-subtitle>
              </mat-card-header> 
              <mat-card-actions align="end">
                <a mat-button href="https://www.eventbrite.com/e/sympathy-for-the-enemy-engineering-product-partnerships-tickets-165748870333#" color="accent" target="_blank">Visit Event</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div class="row justify-content-center aside-top">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/Images/event-1.PNG" alt="Women who code Cincinnati tech talk" class="hide-sm" />              
                <mat-card-title>Burnout and Self Care
                  <span class="date">Feb 20th, 2021</span>
                </mat-card-title>
               
                <mat-card-subtitle>What burnout is, what to watch out for and some techniques for keeping it at bay. Afterwards an open discussion about how we’ve all experienced burnout (now or in the past), how we each combat it, and share our own self care routines.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions align="end">
                <a mat-button href="https://www.meetup.com/Women-Who-Code-Cincinnati/events/275668517/" target="_blank">Visit Event</a>
              </mat-card-actions> 
            </mat-card>
          </div>
        </div>
      </div>
    </section>
    
    <section class="row facts justify-content-between align-items-center">
        <div class="col-auto offset-lg-1 show-lg show-md">
          <h3>Random Facts</h3>
        </div>
        <div class="col-auto">
          <h3 class="show-sm">Random Facts</h3>
          <p>I own a cat and a spider</p>
          <p>I've hiked in a rainforest and around volcanoes</p>
          <p>I've walked down a runway</p>
          <p>My photography has been published 3 times</p>
          <p>Bourbon > beer</p>
        </div>
      </section>
  

  </div>
  