<div class="container-fluid portfolio">
  <section class="row portfolio lt-grey-bg">
    <div class="col">
      <h1 class="center">Case Studies and Portfolio</h1>
      <p class="center aside-top">I don't have all of my case studies finished, so if you would like to see additional
        screenshots of other work, please go to the link below.</p>
      <p class="center"><a href="https://www.coroflot.com/Emiegan" target="_blank">Coroflot.com/Emiegan</a></p>
    </div>
  </section>

  <!-- <section class="portfolio row justify-content-center white-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-auto">
          <img mat-card-image src="assets/Images/design-ice.png" alt="UX process on an iceberg" class="img-fluid hide-sm">
        </div>

        <div class="col-12 col-md-6">
          <h5>2022</h5>        
          <h1>Learning Management Feature Redesign</h1>
          <p class="aside-top-xs">Redesigning a learning management registration process within a SaaS compliance product.</p>
  
          <a mat-stroked-button routerLink="/design-process" class="btn btn-secondary aside-bottom">See
            More </a>
        </div>
      </div>
    </div>
  </section> -->

  <section class="portfolio row justify-content-center ">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-auto">
          <img mat-card-image src="assets/Images/design-ice.png" alt="UX process on an iceberg" class="img-fluid hide-sm">
        </div>

        <div class="col-12 col-md-6">
          <h5>2021</h5>        
          <h1>What's your Design Process?</h1>
          <p class="aside-top-xs">A burning question asked by every UX professional on the planet.</p>
  
          <a mat-stroked-button routerLink="/design-process" class="btn btn-secondary aside-bottom">See
            More </a>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio row justify-content-center white-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
          <h5>2019</h5>        
          <h1>ERP System</h1>
          <p class="aside-top-xs">Redesigning and developing an internal point-of-sale application for a moderately sized manufacturing business.</p>
  
          <a mat-stroked-button routerLink="/internal" class="btn btn-dark aside-bottom">See
            Case Study </a>
        </div>
  
        <div class="col-sm-auto">
          <img mat-card-image src="assets/Images/tablet.PNG" alt="Photo of a tablet UX mockup" class="img-fluid hide-sm">
        </div>
      </div>
      
    </div>
  </section>

  <section class="portfolio row justify-content-center">
    <div class="container aside-top aside-bottom">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-auto">
          <img mat-card-image src="assets/Images/stack-rebrand.png" alt="takeoff rebrand" class="img-fluid hide-sm">
        </div>

        <div class="col-12 col-md-6">
          <h5>2015 - 2016</h5>        
          <h1>Company Rebranding</h1>
          <p class="aside-top-xs">A startup needed to rebrand and properly showcase their new SaaS offerings.</p>
  
          <a mat-stroked-button routerLink="/rebrand" class="btn btn-secondary aside-bottom">See
            More </a>
        </div>
      </div>
    </div>
  </section>
    
</div>


