<nav class="container-fluid mat-typography">
  <div class="row justify-content-start align-items-center show-sm no-gutters">
    <div class="col-auto">
      <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/home" mat-menu-item>Home</a>
        <a routerLink="/about" mat-menu-item>About</a>
        <a routerLink="/portfolio" mat-menu-item>Portfolio</a>
        <a routerLink="/resume" mat-menu-item>Resume</a>

      </mat-menu>
    </div>

    <div class="col-auto">
      <h3 class="logoText">Emily Egan</h3>
    </div>

  </div>

  <div class="row justify-content-between align-items-center show-md show-lg">
    <div class="col-auto">
      <img class="logo" src="assets/Images/ee-logo-sm.png" alt="Emily Egan Logo" />
      <h3 class="logoText">Emily Egan</h3>
    </div>

    <div class="col-auto">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/resume">Resume</a>
    </div>

  </div>

</nav>
<div class="mat-typography fullHeight main-container">

  <router-outlet></router-outlet>

</div>

<footer>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto ">
        <h5>Contact me @ </h5>
      </div>
      <div class="col-auto">
        <a href="https://twitter.com/emilyegans" target="_blank"><img src="assets/Images/twitter-32.png"
            alt="twitter" /></a>
      </div>
      <div class="col-auto">
        <a href="https://www.linkedin.com/in/emiegans/" target="_blank"><img src="assets/Images/linkedin-3-32.png"
            alt="linkedin" /></a>
      </div>
      <div class="col-auto">
        <a href="https://www.flickr.com/photos/emegan/" target="_blank"><img src="assets/Images/flickr-4-32.png"
            alt="Flickr" /></a>
      </div>
    </div>
  </div>
</footer>