<div class="container-fluid">
  <div class="internal row primary-bg">
    <div class="container">
      <div class="row align-items-center justify-content-end">
        <div class="col-auto">
          <h1 class="font-white">Replacing an older ERP system</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row white-bg">
    <div class="container">
      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-12 col-sm-12 col-md-7">
            <h4>Overview</h4>
            <p>The company is a moderately sized manufacturing business that needed assistance modernizing their
              software and internal processes. During my time here I was the UX designer and front end developer charged
              with updating their systems. My first and main focus was to replace an order system and that’s what I will
              be discussing below.</p>
            <p>I have omitted and obfuscated confidential information in this case study.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-5">
            <h4>Role</h4>
            <p>Sole UX Designer and Developer</p>
            <h4>Methods</h4>
            <p>Project Planning, User Research, Interface Design, User Testing, Prototyping, Frontend Development</p>
            <h4>Tools</h4>
            <p>Whiteboard, Paper & Pen, Whimsical, Photoshop, Latest Angular</p>
            <h4>Timeframe</h4>
            <p>2019</p>
          </div>
        </div>
      </section>



      <section class="case-study aside-top lt-grey-bg aside-bottom">
        <div class="row justify-content-center">
          <div class="col-9">
            <h4>Problem -</h4>
            <h5>It was difficult to train new employees on a complicated legacy system that was unintuitive. There was
              also a need to increase sales by shortening the sales process.</h5>
          </div>
        </div>
      </section>

      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <h4>Understand: Discover and define the problem</h4>
            <p class="aside-top-xs">In order to understand the business needs, I met with the executives who gave a
              broad overview of what I was replacing, and why it needed to be replaced. I wanted to understand the
              business side of why they dislike the program, what business requirements I had, timelines, and what their
              expectations were. </p>

              <h4>User Research and Analysis</h4>
              <p>Before redesigning anything, I wanted to understand the most important issues that the users of the
                legacy system faced. Over the course of a week I conducted contextual interviews and performed task
                analysis with different representatives in order to document workflows. </p>
  
              <h4>Methodology</h4>
              <p>Qualitative: Contextual Interviews and task analysis.</p>
  
              <h4>Who are the Users?</h4>
              <p>The main users were customer service representatives who handled the sales process from start to finish.
                There were two types of representatives--the expert and the new employee. Representatives who have been at
                the company for 10+ years, and new employees who struggled with the legacy system.</p>

                <p>The vast majority of my research involved interviews and unmoderated observation of multiple customer
                  service representatives. This allowed me to understand the entire process, each task, and end goals. After
                  sitting and interviewing users I discovered what features and views were needed and what problems the
                  legacy system had.</p>
          </div>
        </div>
      </section>

      <section class="case-study aside-bottom">        
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-6">
            <img src="assets/Images/persona-1.png" class="img-fluid" />
          </div>
          <div class="col-12 col-md-6">
            <img src="assets/Images/persona-2.png" class="img-fluid" />
          </div>
        </div>

        <div class="row justify-content-center align-items-start aside-top">
          <div class="col">
             <h4>Pain Points</h4>
              <ul>
                <li>The entire process takes around a week to complete from order creation to product shipping.</li>
                <li>Process has a high cognitive load. The legacy forms required users to go back and forth to find the
                  appropriate data.</li>
                <li>Most of the terminology with the system requires a lot of domain knowledge, so new users had
                  significant difficulty.</li>
                <li>Users weren’t able to see images of the product they were ordering.</li>
                <li>When users couldn't find the correct address for a customer they would create another record, creating duplicate records.</li>
                <li>Near the end of the process users had to print order forms.</li>
              </ul>
          </div>
        </div>        
      </section>

      <hr />

      <section class="case-study aside-bottom">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <p>Finally I was ready to draft some workflows. Before tackling any wireframes or mockups I like to identify common processes, this also makes it easy for the business and engineering to understand issues and bottlenecks. This helped define what pages and API calls were needed, and also what data needed to be displayed on each page.</p>
          </div>
        </div>    
        
        <div class="row justify-content-center align-items-center aside-top-x1">
          <div class="col-auto">
            <img src="assets/Images/old-flow1.png" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
            <img src="assets/Images/new-flow1.png" class="img-fluid" />
          </div>
        </div>
      </section>

      <section class="case-study aside-bottom aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <h4>Design - Wireframing, and Lo-fi mockups.</h4>
            <p>The next step was to sit with backend developers who gave a deep dive on the application architecture. This allowed me to document the information architecture and product structure. After I was confident in the workflows and the data they needed, I was able to design a first draft of low fidelity mockups.</p>
          </div>
        </div>    
        
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <img src="assets/Images/step-1-sm.png" class="img-fluid" />
          </div>
          <div class="col">
            <img src="assets/Images/step-2-sm.png" class="img-fluid" />
          </div>
          <div class="col">
            <img src="assets/Images/step-3-sm.png" class="img-fluid" />
          </div>
          <div class="col">
            <img src="assets/Images/step-4-sm.png" class="img-fluid" />
          </div>
        </div>
      </section>

      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-12 col-md-7">
            <h4>Testing and Iterating Phase</h4>
            <p>After I completed a series of mockups I conducted design reviews with the stakeholders and the developers to see if any changes needed to be made due to technical reasons. The first iteration included more intuitive terminology so that new users didn’t have to rely on domain knowledge, which because of the legacy system was a sea of acronyms. The business struck this down but for technical reasons. Since the data was being pulled from the same system it had to match, which was a problem for some of the new users.</p>

            <p>So how did we solve this problem? I included help text where I could, and a dedicated help page filled with definitions. Following that I tested the mockups by interviewing users to see if it fit their needs and was clearly understood. After a few versions the designs were approved, and I was able to progress to the prototype phase.</p>
          </div>
          <div class="col col-md-5">
            <img src="assets/Images/testing-phase-mockup.PNG" class="img-fluid" alt="" />
          </div>
        </div>
      </section>

      <section class="case-study aside-bottom">
        <div class="row justify-content-center align-items-start">
          <div class="col col-md-5">
            <img src="assets/Images/final.png" class="img-fluid" />
          </div>
          <div class="col-12 col-md-7">
            <h4>Prototyping</h4>
            <p>I created the prototype in Angular which allowed a good starting place for the front end development, and it gave time for the backend developers to create the API calls that were needed. The working prototype was tested with a group of end users and iterated on until they had all of the data they needed, and were able to complete their goals without asking for help. 
              I met with the main business stakeholder almost daily during this process until all of the pain points were addressed and the responsive bugs were fixed. 
              </p>
          </div>
        </div>       
      </section>

      <section class="case-study aside-top aside-bottom-x1">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <h4>Reflection</h4>
            <p>Overall, this was a complicated system to understand, and having to use the original database added additional complexity. Even if I couldn’t change the labels I was able to provide helpful context and documentation that didn’t exist previously, so it was still an improvement. The end result is a web based application based in Angular that was responsive a bit under tablet dimensions. It allowed users to search for orders, create orders, and easily send product previews to customers. It significantly improved the sales process and provided a smoother onboarding process for new users. The rebuild eliminated the original pain points the users had while not introducing new bottlenecks. It also eliminated the need for printing orders as the warehouse could use the same system to look up recent orders.</p>
          </div>

          <div class="row justify-content-center align-items-center aside-top">
            <div class="col-auto">
              <img src="assets/Images/order-info.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>