<div class="container-fluid">
  <div class="rebrand row primary-bg">
    <div class="container">
      <div class="row align-items-center justify-content-end">
        <div class="col-auto">
          <h1 class="font-white">Company Rebranding</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row white-bg">
    <div class="container">
      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-12 col-sm-12 col-md-7">
            <h4>Overview</h4>
            <p>Cloud Takeoff was rebranding to Stack to better represent their B2B SaaS offerings. Stack is a startup
              that provides takeoff and estimating software for the construction industry. This was my first
              introduction into the world of user experience and how researching and testing could create better
              products. Over the course of a year we rebranded, redesigned our marketing site and SaaS application,
              improved conversion rates, and increased traffic to both domains.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-5">
            <h4>Role</h4>
            <p>Designer and Developer. Worked with another Designer.</p>
            <h4>Methods</h4>
            <p>User Research, Content Strategy & Copywriting, UI Design, Frontend Development</p>
            <h4>Tools</h4>
            <p>Whiteboard, Adobe Suite, Mouseflow, MVC5</p>
            <h4>Timeframe</h4>
            <p>2015 - 2016</p>
          </div>
        </div>
      </section>



      <section class="case-study aside-top lt-grey-bg aside-bottom">
        <div class="row justify-content-center">
          <div class="col-9">
            <h4>Problem -</h4>
            <h5>Company needs to rebrand and properly showcase their new SaaS offerings. Needs a new logo and brand
              colors.</h5>
          </div>
        </div>
      </section>

      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <h4>Understand: Discover and define the problem</h4>
            <p class="aside-top-xs">Rebranding was needed due to the fact that the legacy platform was developed using
              Silverlight which Microsoft depreciated. Since the platform could no longer be supported long term and
              users wouldn’t be able to use the product, the business decided to move forward with redeveloping the
              application and rebrand entirely. By using newer technologies we could add additional features users
              requested and products the legacy platform couldn’t support.</p>

            <h4>User Research, Analysis, and Methodology</h4>
            <p>Quantitative and Qualitative - Competitive analysis, web analytics, unmoderated session recording.</p>

            <h4>Who are the Users?</h4>
            <p>The end users were estimators within small to medium sized construction businesses and Independent contractors.</p>

          </div>
        </div>
      </section>

      <hr />

      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-12 col-md-7">
            <h4>Competitive Analysis</h4>
            <p>Who are the major competitors? Were their websites modern and robust? Did their products have good reviews? What sort of copywriting and content did they use?
            </p>

            <p>I performed a competitor analysis to better understand the product options for the construction industry, available features, and design feel. Overall they had three main competitors which had a similar look and feel to each other. All of them had strengths and weaknesses which I utilized to create a good starting point for the layout of the site. .</p>
          </div>
          <div class="col col-md-5">
            <img src="assets/Images/competitors.png" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="row justify-content-center align-items-start aside-top-x1">
          <div class="col">
            <h3>Competitor 1</h3>
            <ul>
              <li>Desktop takeoff software that comes with a trial download.</li>
              <li>
                <b>Strengths:</b> A lot of content on the site that drove traffic.
              </li>
              <li>
                <b>Weaknesses:</b> UI Design. Crowded, and less aesthetically pleasing, which in turn can cause less credibility. Non semantic code, which led to poor usability and accessibility. 
              </li>
              <li>
                <b>Opportunities:</b> With better content, semantic code, and UI design we could increase organic traffic.
              </li>
              
            </ul>
          </div>
          <div class="col">
            <h3>Competitor 2</h3>
            <ul>
              <li>Started to offer cloud based takeoff services.</li>
              <li>
                <b>Strengths:</b> Better UI, has authority in the industry.
              </li>
              <li>
                <b>Weaknesses:</b> UI Design. Confusing interactive graphics with popups. Little content and isn’t easily consumable. Poor information architecture. 
              </li>
              <li>
                <b>Opportunities:</b> Has a similar color theme and design to ours. 
              </li>
              
            </ul>
          </div>
          <div class="col">
            <h3>Competitor 3</h3>
            <ul>
              <li>Desktop takeoff software that comes with a trial download.</li>
              <li>
                <b>Strengths:</b> Modern interface, clear information architecture, responsive to mobile, great clear content throughout site.
              </li>
              <li>
                <b>Weaknesses:</b> Doesn’t offer cloud based services, poor text contrast against dark backgrounds--bad accessibility. 
              </li>
              <li>
                <b>Opportunities:</b> Offers a lot of industry and trade information throughout the site. 
              </li>
             
            </ul>
          </div>
        </div>

        <div class="row justify-content-center aside-top-x1">
          <div class="col">
            <h4>Competitive Analysis Takeaways Overview</h4>
            <p class="aside-top-xs">The competitors offered different features and tools, and most were desktop based applications. All of the competitors used blue, so in order to stand apart from them we went with green instead as our main color. Since “STACK” was the chosen name, it made sense to provide multiple colors for the various product offerings. We incorporated more modern design trends, responsive design, and went with a mainly flat design.</p>
          </div>
        </div>
      </section>

      <hr />

      <section class="case-study aside-top">
        <div class="row justify-content-center align-items-start">
          <div class="col-12 col-md-7">
            <h4>Design - Logo creation and color themes</h4>
            <p class="aside-top-xs">After the company decided on a new name, we were tasked to create a new logo and provide color themes for the new software. Since I already completed an in-depth competitor analysis we knew what colors we wanted to work with. We worked together to provide various logo ideas, color options, and presented them to the stakeholders for review. </p>

          </div>
          <div class="col col-md-5">
            <img src="assets/Images/rebrand-ideas.png" class="img-fluid" alt="" />
          </div>
        </div>
      </section>  


      <section class="case-study aside-top aside-bottom-x1">
        <div class="row justify-content-center align-items-start">
          <div class="col">
            <h4>Reflection</h4>
            <p>Overall, this was a complicated system to understand.</p>
          </div>         
        </div>
      </section>

    </div>
  </div>
</div>