<div class="container-fluid">
  <section class="row resume primary-bg">
    <div class="col">
      <h1 class="center">Experience</h1>
      
    </div>
  </section>

  <section class="row resume lt-grey-bg">
    <div class="col-12">
      <div class="row justify-content-center align-items-center">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>LCvista</h3>
              <mat-card-subtitle>Nov 2021 - Current</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>UX/UI Designer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>Owns the user experience and in charge of advancing the design and UX of the product.</li>
              <li>Collaborates with other team members and stakeholders to understand and evaluate user needs and requirements.</li>
              <li>Creates wireframes, mockups, and prototypes using Axure.</li>
              <li>Performs usability testing via moderated and unmoderated remote testing.
              </li>
              <li>Plans and conducts user research, competitor analysis.</li>
              <li>Created the company Style Guide and UX Standards.</li>
             </ul>
          </mat-card-content>
        </mat-card> 
      </div>

      <div class="row justify-content-center align-items-center aside-top">
          <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <div class="row justify-content-between align-items-center mat-card-header">
              <div class="col-auto">
                <h3>Arist</h3>
                <mat-card-subtitle>Feb 2021 - Sept 2021</mat-card-subtitle>
              </div>
              <div class="col-auto">
                <h5>Lead Frontend Engineer</h5>
              </div>
            </div>
            <mat-card-content>
              <ul>
                <li>Led frontend design at this early stage startup during their rebuild.</li>
                <li>Advocated for the user to make sure accessibility was a priority.</li>
                <li>
                  Performed design reviews to gather business requirements and create user stories in Jira.
                </li>
                <li>Mockups and workflows completed in Whimsical and Figma.</li>
                <li>Mentored and coached junior developers.</li>
               </ul>
            </mat-card-content>
          </mat-card> 
        </div>

        <div class="row justify-content-center align-items-center aside-top">
          <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <div class="row justify-content-between align-items-center mat-card-header">
              <div class="col-auto">
                <h3>Women Who Code</h3>
                <mat-card-subtitle>March 2020 - Present</mat-card-subtitle>
              </div>
              <div class="col-auto">
                <h5>Director</h5>
              </div>
            </div>
            <mat-card-content>
              <ul>
                <li>One of the founding directors for Women Who Code Cincinnati.</li>
                <li>Working to empower women within the tech community with educational tech events and mentoring. </li>
                <li>Assists with creating and performing tech talks.</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>

      <div class="row justify-content-center align-items-center aside-top">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>Total Quality Logistics</h3>
              <mat-card-subtitle>Sept 2019 - Feb 2021</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>UX Designer and Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>Worked within a UX team to help design internal and external facing applications.</li>
              <li>Created wireframes, mockups, and prototypes using Axure.</li>
              <li>Conducted user observations via field study, heuristics & usability testing onsite and remotely.</li>
              <li>Assisted in designing, writing, and maintaining company UX standards.</li>
              <li>
                Gave large scale demos and presentations to drive change in procedures, processes, and to provide
                clarity.
              </li>
              <li>Created reusable component library using npm and Angular.</li>
              <li>Mentored and coached junior designers and developers.</li>
              <li><i>Won IT Innovation Award for internal npm libraries.</i></li>
             </ul>
          </mat-card-content>
        </mat-card> 
      </div>


      <div class="row justify-content-center align-items-center aside-top">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>Dee Sign</h3>
              <mat-card-subtitle>Oct 2018 - Sept 2019</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>UX Designer and Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>In charge of planning and executing all UX design and development projects from creation to release.</li>
              <li>
                  Gathered requirements from users and stakeholders through various research methods. Unmoderated observation, interviews, and task analysis. Observed day-to-day processes in order to
                diagnose pain points.
              </li>
              <li>Created wireframes and lo-fi mockups in whimsical.</li>
              <li>Created working prototypes in Angular.</li>
              <li>
                  Created numerous internal web applications to improve daily company processes.
              </li>
              <li>Updated their older technology with Angular, TypeScript, and Angular Material.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row justify-content-center align-items-center aside-top">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>GE Aviation</h3>
              <mat-card-subtitle>Aug 2018 - Oct 2018</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>Front End Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>Temporary Consultant for GE Aviation in their Cyber Security department.</li>
              <li>
                Focused on updating internal legacy AngularJS applications and proved documentation on functionality.
              </li>
              <li>
                Documented all code, provided indepth documentation detailing the architecture, libraries, dependencies,
                and how each component works within the app.
              </li>
              <li>Added additional reporting functionality that gave better feedback on risk management.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row justify-content-center align-items-center aside-top">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>Stack</h3>
              <mat-card-subtitle>Jan 2014 - Feb 2018</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>Software Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>Assisted in the redesign of their construction based SaaS platform using the Adobe suite and Balsamiq. </li>
              <li>
                Used AngularJS and TypeScript to implement new features to the application.
              </li>
              <li>Redesigned and developed the marketing site using ASP.NET, MVC 5, and Bootstrap.</li>
              <li>Developed with SEO in mind. Helped the company achieve high rankings with targeted key phrases.</li>
              <li>Agile management using Scrum.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row justify-content-center align-items-center aside-top">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>Touchstone</h3>
              <mat-card-subtitle>April 2013 - Dec 2013</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>UI Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>
                Managed web application projects within the UI department.
              </li>
              <li>
                Developed internal web applications for top automotive and banking companies. Clients included Audi,
                Volvo, VW, and Fifth Third.
              </li>
              <li>Provided backwards compatible enterprise software that adhered to brand standards.</li>
              <li>
                Used HTML, CSS, jQuery, JavaScript, ASP.NET, and MVC.
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row justify-content-center align-items-center aside-top aside-bottom-x1">
        <mat-card class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="row justify-content-between align-items-center mat-card-header">
            <div class="col-auto">
              <h3>WebFEAT</h3>
              <mat-card-subtitle>Aug 2011 - April 2013</mat-card-subtitle>
            </div>
            <div class="col-auto">
              <h5>Web Designer and Developer</h5>
            </div>
          </div>
          <mat-card-content>
            <ul>
              <li>
                Worked directly with clients to create designs for company websites. All designs were completed using the Adobe suite.
              </li>
              <li>
                Used Microsoft technologies such as ASP.NET and MVC to easily create and develop websites built to
                customer specifications.
              </li>
              <li>
                Everything was hand coded with HTML, CSS, jQuery, JavaScript, ASP.NET, and MVC.
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</div>
